-
    var colorPresets = [
        '#666666',
        '#F64747',
        '#FF9478',
        '#F1828D',
        '#D2527F',
        '#9B59B6',
        '#D5B8FF',
        '#00B5CC',
        '#19B5FE',
        '#F5D76E',
        '#FEF160',
        '#EB9532',
        '#FC7C3C'
    ];