//- journal.html.pug
//- Journal page content

extends template.html.pug

block primary-content
  //- Format date data
  -
    var date = new Date(entry.created);
    var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'};
    var dateFormatted = date.toLocaleDateString('en-US', options);
  
  .nav-panel
    a.return-btn(href='/journal/')
    a.remove-btn
    a.archive-btn

  .journal-container
    .journal--header
      .journal--circle(style='background:'+ colorPresets[entry.colorPreset])
      .journal--date=dateFormatted

    .journal
      .title=entry.title

      #toolbar
        button.ql-bold
        button.ql-italic
        button.ql-underline
        button.ql-strike

      #editor=entry.content

      .discard-btn
      .save-btn

  //.title(contenteditable="true" spellcheck="false") =entry.title
  //.writer(contenteditable="true" spellcheck="false") =entry.content