//- template.html.pug
//- Base template for all pages to insert content into

doctype html
html
    head
        title Daily
        link(href='/stylesheets/site.css' rel='stylesheet')
        link(href='/stylesheets/external/quill.bubble.css' rel='stylesheet')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(src='/js/external/jquery-3.5.1.min.js')
        script(src='/js/external/quill.min.js')
        script(src='/js/client.js')
    body

      include colors

      .header--container
        ul.header
          li.logo: p Logo Placeholder
          li: input.search-bar(type='search' placeholder='Temporary Search Bar')
          li: p Placeholder

      .page
        .sidebar--left
          .user-info
            img(src='/imgs/profile.png')
            .greeting
              p Hello,
              p.username #AccountName
          ul.nav
            li: a.enabled(href='/dashboard')
                  .circle--attach
                  p Dashboard
            li: a(href='/tasks')
                  .circle--attach
                  p My Tasks
            li: a(href='/journal')
                  .circle--attach
                  p My Journal
            li: a(href='/metrics' style='text-decoration: line-through')
                  .circle--attach
                  p My Metrics
                  
          .logout: a(href='/') Logout

        .primary-content: block primary-content

        .sidebar--right